html,
body {
  margin: 0 !important;
  height: 100% !important;

}

/* custome margin */
/* .customMargin {
  margin-left: 16.66%;
  margin-right: 16.66%;
} */
.navbar-nav a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  background-color: #0D0D0D;
  color: white;
}

.heading1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.subHeading {
  font-family: Poppins;
  font-weight: 600;
}

footer h5 {
  font-family: Poppins;
  font-weight: 600;
}

/* custome line height  */
.CustomeLineHeight {
  line-height: 1.6;
}

.CustomeLineHeight2 {
  line-height: 1.35;
}

/* company page Join Us section image size */
.joinUs img {
  width: 50px;
}

.joinUs {
  align-items: baseline stretch;
}

/* aquilatrack page kea features image size  */
.KeyFeatures img {
  width: 55px;
}

.KeyFeatures .card {
  padding-bottom: .1px;
}

/* company page Join Us section column cards spacing */
.joinUs .mobile-space {
  padding-left: .1rem;
  padding-right: .5rem;
}

/* Custom text Color Pink */
.bg-pink {
  font-weight: bold;
  color: #FF3366;
}

/* Progress Bar For Images Slider */
#myBar {
  width: 10%;
  height: 2px;
  background-color: #FF3366;
}

#myBar1 {
  width: 10%;
  height: 2px;
  background-color: #FF3366;
}

.myBarBg {
  height: 2px;
  /* width: 100%; */
  background-color: white;
}

.bg-dark {
  background-color: rgba(13, 13, 13, 0.5) !important;
  backdrop-filter: saturate(180%) blur(10px);
}

.dropdown-menu {
  background-color: rgba(13, 13, 13, 0.8) !important;
  backdrop-filter: saturate(180%) blur(50px);
}

.custome-dropDown {
  background-color: rgba(13, 13, 13, 50);
  color: white;
}

.dropdown-item {
  color: white;
}

.btn-primary {
  background-color: #FF3366 !important;
  border: none;
  padding-top: 8px;
  border-radius: 6px;
}

.btn-primary:hover {
  background-color: white !important;
  border: none;
  color: #FF3366
}

input:focus {
  outline: none;
}

.half-highlight {
  background-image: linear-gradient(to right, transparent 50%, #FF3366 50%);
  background-origin: 0;
  background-size: 200% 40%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.5s;
  background-position: -100% 100%;
}

.back_career {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: table;
  background-image: url(img/careers2.png);
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.customeBG {
  background: url(./img/careers2.png) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */


@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
  }
}

.carousel-multi-item-2 .card img {
  border-radius: 2px;
}


/* Toggle Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(78, 78, 78);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #FF3366;
}

input:focus+.slider {
  box-shadow: 0 0 1px rgb(243, 33, 86);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





li a {
  color: rgb(99, 99, 99);
  text-decoration: none;
}

li a:hover {
  color: rgb(185, 184, 184);
  text-decoration: none;
}

#card-div {
  padding-left: 0px !important;
}

/* company full page background */

.CompanyBG {
  margin-top: -72px !important;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/companyBG.png) no-repeat;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}


/* company webpage button custome css */
.CustomBtn {
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 6px;
}

.btn-outline-primary {
  border: 1px solid #FF3366 !important;
  padding: 6px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 6px;
  color: #fff;
}

.btn-outline-primary:hover {
  background-color: #FF3366 !important;
}

/* buttons center inline */
.CompanyBG ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.CompanyBG li {
  padding: 15px;
}

#vertical {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* requirment process icon color change to pink */
.PinkClr {
  color: #FF3366;

}

.PinkClr2 {
  color: #FF3366;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.PinkClr3 {
  background-image: url(assets/Subtraction\ 5.png);
}

/* requirement steps with lists background dark */
.bg-dark1 {
  background-color: rgba(13, 13, 13, 0.5) !important;
  border-bottom: 2px solid rgb(36, 36, 36) !important;
}

.bg-dark1:hover {
  border-bottom: 2px solid rgb(36, 36, 36) !important;
}


/* join us h6 length less */
.joinUs h6 {
  font-size: .9rem;
}


/* background dark for carousel images */








.OemBG {
  background: url(img/Hero\ Banner.png) no-repeat;
  margin-top: -72px !important;
  height: 100vh;
  background-size: cover;
}



/* content heading text underline with color for h6 tag */

.ContentHeading {
  text-decoration: underline;
  text-decoration-color: rgb(224, 14, 77);
  text-decoration-style: solid;
  text-underline-position: under;
}





/* image slider css code */

h1 {
  margin: 150px auto 30px auto;
  text-align: center;
  color: #fff;
}

.hi-slide {
  position: relative;
  width: 754px;
  height: 292px;
  margin: 115px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50px;


  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: black;
  transition: all 0.6s;
  font-size: 20px;
  font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
  opacity: 1;
  background-color: #fff;
}

.hi-slide .hi-prev {
  left: -60px;
}

.hi-slide .hi-prev::before {
  content: '<';
}

.hi-slide .hi-next {
  right: -60px;
}

.hi-slide .hi-next::before {
  content: '>';
}

.hi-slide>ul {
  list-style: none;
  position: relative;
  width: 754px;
  height: 292px;
  margin: 0;
  padding: 0;
}


.hi-slide>ul>li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top: 146px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #333;
  cursor: pointer;
}

.hi-slide>ul>li>img {
  width: 100%;
  height: 100%;
  background-position: center;
}



/* cards in company design */
.card {
  background-color: #212121;
  border-radius: 8px;
}

.CustomeCircle h6 {
  font-weight: 400;
  font-size: .9rem;
}

/* circles connected design */
.CustomeCircle li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #212121;
  margin: 0 2.6em;
  display: inline-block;
  color: white;
  position: relative;
}

.CustomeCircle li::before {
  content: '';
  position: absolute;
  top: .9em;
  left: -6em;
  width: 8em;
  height: .1em;
  background: rgb(255, 255, 255);
  z-index: -1;
}

ul.bigger {
  font-size: 2.0em;
}

.CustomeCircle li:first-child::before {
  display: none;
}

.CustomeCircle .active {
  background: dodgerblue;
}

.CustomeCircle .active~li {
  background: lightblue;
}

.CustomeCircle .active~li::before {
  background: lightblue;
}




.openingCard {
  color: #FF3366;
}


/* search icon */

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #181818;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: #333;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #2e2e2e;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #cddc39;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}


/*  pannel collapse */

@media(max-width:992px) {
  .wrapper {
    width: 100%;
  }
}

.panel-heading {
  padding: 0;
  border: 0;
}

.panel-title>a,
.panel-title>a:active {
  display: block;
  padding: 15px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  /* text-transform:uppercase; */
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
  src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.panel-heading a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}

.panel-heading.active a:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}


/* media section support page */
.pannelsStyle h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.pannelsStyle h6 {
  font-family: Poppins;
  font-weight: 600;
}

/* oem page design */
.containerCst {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.oemSolutions h6 {
  font-family: Poppins;
  font-weight: 600;
  font-size: small;
}

/* extra padding for button */
.BtnPadding {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* .containerCst {
          position: relative;
         
        }
        
        .image {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: .5s ease;
          backface-visibility: hidden;
        }
        
        .middle {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        } */

/* .containerCst:hover .image {
          opacity: 0.5;
        }
        
        .containerCst:hover .middle {
          opacity: 1;
        } */

/* .text {
          color: white;
          font-size: 16px;
          
        } */


/* Full width Search bar on hover color */
.LongSearch:focus {
  border: 2px solid rgb(245, 49, 75) !important;
}

.LongSearch:visited {
  border: 2px solid rgb(245, 49, 75) !important;
}

/* images slider */
/*********************************************************************/


/* OEM full background image */




/* respnosive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .CustomeCircle {
    display: none;
  }

  .carouselLaptop {
    display: none;
  }

  .slider-inner img {
    display: none;
    width: 350px;
    height: 250px;
  }

  .CustomeCareer {
    padding: 10px;
    background-color: rgba(23, 32, 42, .3);
    color: white;
    font-size: xx-small;
  }

}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .CustomeCareer {
    padding: 10px;
    color: white;
  }

  .slider-inner img {
    display: none;
    width: 350px;
    height: 250px;
  }


}


/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .CustomeCircle{
    display: none;
  }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hiringContain {
    display: none;
  }

  .carouselMobile {
    display: none;
  }

  .slider-inner img {
    display: none;
    width: 500px;
    height: 300px;
  }

  .slider-inner h3 {
    display: none;
  }

  .slider-inner1 active1 {
    display: none;

  }

  .schoolCustomImg img {
    text-align: center;
    width: 350px;
    height: 200px;
  }

}

@media only screen and (max-width: 1360px) {
  .CustomeCircle {
    display: none;
  }
}


/* hiring circle css for hiring points */
.hiringCircle {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: rgb(43, 43, 43);
  /* margin: 0 1.7em; */
  display: inline-block;
  color: rgb(212, 57, 91);
  position: relative;
}



/* single image slider for desktop and mobile */


.slider-inner {
  position: relative;
  /* overflow:hidden; */
  float: left;
  padding: 2px;
  /* border:#666 solid 1px; */
}

.slider-inner img.active1 {
  display: inline-block;
}

.slider-inner h3.active1 {
  display: inline-block;
}

.slider-inner {
  position: relative;
  /* overflow:hidden; */
  float: left;
  padding: 2px;
  /* border:#666 solid 1px; */
}

.slider-inner img.active1 {
  display: inline-block;
}



/* index page scocial icons css list elements */
.SocialIcons ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}

.SocialIcons li {
  padding: 15px;
}

/* footer li links space verticle */
.CustomLiSpace li {
  margin-bottom: 20px;
}


.BGtext {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}



/* for all solution pages apply background for current active pages */
.ActiveDropDown {
  color: white !important;
  border-radius: 5px;
  background-color: #FF3366;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.solutionBorder {
  border: 1px solid #FF3366;
  border-radius: 5px;
  padding-left: 25px !important;
  padding-right: 25px !important;
}


/* for all pages navbar items spacing between them */
.navbar-nav>li {
  font-size: medium;
  padding-left: 18px;
  padding-right: 18px;
}


/* Extra small devices (phones, 600px and down) */

/* aquila track page css for fist content */
@media only screen and (min-width: 1366px) {
  .CustomeWidth {
    max-width: 37.666667%;
  }
}

/* Aquila Track page design image deck card */
.customPaddingCard {
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
}

.KeyFeatures .customPaddingCard {
  padding-bottom: 0px !important;
}

.KeyFeatures h6 {
  font-family: Poppins;
  font-weight: 600;
  font-size: small;
}

.Integrations h6 {
  font-family: Poppins;
  font-weight: 600;
}

.Integrations h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.customPaddingCard-2 {
  padding-bottom: 0px !important;
}

.LargeH2 h2 {
  font-size: 2.2rem;
}

/* school page style */
.KeyFeaturesSchool h6 {
  font-family: Poppins;
  font-weight: 600;
  font-size: small;
}

.apiNumbers h6 {
  font-size: small;
}

/* .KeyFeaturesSchool img {
  width: 40%;
} */



@media screen and (max-width: 767px) {
  .mobile-space {
    margin-bottom: 10px;
  }

  .CustomeMobileCenter {
    text-align: center;
  }

  .CustomeMobileCenter .card {
    width: 70%;
    margin: auto !important;
  }

  html,
  body {
    overflow-x: hidden;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


  .mobile-space {
    margin-bottom: 10px;
  }

}


/* small phones */
@media only screen and (max-width: 320px) {
  .MobileImage img {
    width: 50px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  .MobileImage img {
    width: 150px;
  }
}




/* remove br tags on mobile resulution */
@media only screen and (min-width: 100px) and (max-width: 700px) {
  br {
    display: none;
  }

  .CustomeMobileCenter {
    text-align: center;
  }

}


.bgLightDark {

  padding: 30px;
  background-color: #212121;
  border-radius: 5px;
}


.careerCirclePink {
  width: 1.1em;
  height: 1.1em;
  text-align: center;
  line-height: 1.0em;
  border-radius: .8em;
  background-color: #FF3366;
  display: inline-block;
  color: white;
  position: relative;
}

.textPinkUnderLine {
  padding-bottom: 5px;
  border-bottom: 2px solid #FF3366;
}

.textPinkUnderLine2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #FF3366;
}




/*
******************************************************************* 
Client logos slider image */

.slider1 {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.edge {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  display: block;
}

.edge:before {
  content: '';
  position: absolute;
  left: 0;
  background: -webkit-linear-gradient(left, rgb(53, 53, 53) 10%, rgba(0, 0, 0, 0) 100%);
  width: 25%;
  height: 100%;
}

.edge:after {
  content: '';
  position: absolute;
  right: 0;
  background: -webkit-linear-gradient(right, rgb(53, 53, 53) 10%, rgba(0, 0, 0, 0) 100%);
  width: 25%;
  height: 100%;
}

.slider1 ul {
  background: #212121;
  overflow: hidden;
  width: 1000%;
  margin: 0;
}

.slider1 li {
  list-style: none;
  display: inline-block;
  padding: 0 50px;
}

/*
 Client logos slider image end 
 ******************************************************************* 
 */


.carousel-control-next {
  top: 90%;
  left: 15%;
}

.carousel-control-prev {
  top: 90%;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-control-next {
    top: 105%;
    left: 15%;
  }

  .carousel-control-prev {
    top: 105%;
  }

  .carousel-control-prev img {
    width: 100px;
  }

  .carousel-control-next img {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .carousel-control-prev img {
    display: none;
  }

  .carousel-control-next img {
    display: none;
  }

  .progress {
    display: none;
  }
}

.newsSection button {
  width: 350px;
  max-width: 100%;
}

.progress-bar-success {
  background-color: #FF3366;
}


#carouselExampleFade1 .carousel-control-next {
  top: 90%;
  left: 85%;
}

#carouselExampleFade1 .carousel-control-prev {
  top: 90%;
  left: 70%;
}